/* header */

#admin-header {
  background: url("../img/logo-admin.png") no-repeat scroll #1f262d !important;
}

#admin-header-nav {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#admin-header .admin-header-toggle {
  border-color: #2295c9;
}

#admin-header .admin-header-logo {
  color: #ffffff;
  padding-left: 200px;
}

#admin-header .admin-header-logo img {
  height: 25px;
  width: 25px;
  border-radius: 500rem;
}

#admin-header .admin-header-logo a:hover {
  background-color: transparent !important;
}

#admin-header ul li {
  padding-right: 0.5rem;
}

#admin-header ul li > a {
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.5);
}

#admin-header ul li .disabled {
  color: rgba(255, 255, 255, 0.25);
}

#admin-header ul li span {
  margin-left: 2px;
}

@media (max-width: 980px) {
  #admin-header .admin-header-logo {
    padding-left: 0;
  }
}
