/* header */

#admin-header {
    background: url("../../logo-admin.png") no-repeat #1f262d scroll;
}

#admin-header .admin-header-toggle {
    border-color: #2295c9;
}

#admin-header .admin-header-logo {
    padding-left: 200px;
}

#admin-header .admin-header-logo a:hover {
    background-color: transparent !important;
}

#admin-header ul li a {
    color: rgba(255, 255, 255, 0.5);
}

#admin-header ul li .disabled {
    color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 980px) {
    #admin-header .admin-header-logo {
        padding-left: 0;
    }
}