html, body {
    height: 100%
}

body {
    background: #2E363F;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* common */
.label-important {
    padding: 0 2px;
    margin-left: 4px;
    display: inline-block;
    background: #f74d4d;
}

/* layout */
#admin-layout {

}

/* @media */
/*@media (max-width: 480px) {}*/
/*@media (min-width: 481px) and (max-width: 767px) {}*/
/*@media (min-width: 481px) and (max-width: 970px) {}*/
/*@media (min-width: 768px) and (max-width: 970px) {}*/
/*@media (max-width: 600px) {}*/
/*@media (max-width: 767px) {}*/
/*@media (min-width: 768px) and (max-width: 979px) {}*/
/*@media (max-width: 979px) {}*/