/* content */
#web-content {
    background: none repeat scroll 0 0 #fff;
    margin-right: 0;
    padding: 0.5rem 50px;
    min-height: 75%;
    width: auto;;
}

/* jumbotron */

.jumbotron-bg-none {
    background: none repeat scroll 0 0 !important;
}

@media (max-width: 980px) {
    #web-content {
        padding-left: 0;
        padding-right: 0;
    }
}