/* footer */
#web-footer {
  border-top: 10px solid #d93e39;
  width: 100%;
}

#web-footer-information {
  background-color: #2e363f;
}

#web-footer-copyright {
  background-color: #2e363f;
  text-align: center;
  color: #666;
}
